/* Flex container */
.navbar {
    /* height: 100px; */
    background-color: rgb(39, 42, 44);
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
    color: white;
    /* background-color: rgb(241, 122, 207); */
}

li {
    list-style-type: none;
    /* display: inline; */
}


.outer {
    height: 300px;
    width: 300px;
    background-color: rgb(53, 51, 49);
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner {
    height: 100px;
    width: 100px;
    background-color: rgb(213, 10, 216);
}
