div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;
    /* border-radius: 50%; */
    position: absolute;
    top: 150px;
    left: 300px;

    /* here we are calling the animations */

    /* Color Animation */
    /* animation-name: animateColor; */
    /* animation-duration: 2s;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: 5; */

    /* animation-duration: 0.25s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */



    /* Position Animation */
    /* animation-name: positionAnimate;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite; */
    /* animation-direction: normal; */
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    /* animation-direction: alternate-reverse; */

    /* ANIMATION ShortHand :- animation-name | duration | timing-fn | delay | iteration | direction  */
    animation: percentAnimation 2s ease-in 0s infinite alternate;

}

/* here we have defined the animation */
/* if we write only this part of code, no animation will be shown */
@keyframes animateColor {
    from {
        background-color: aquamarine;
    }
    to {
        background-color: blueviolet;
    }
}


@keyframes positionAnimate {
    from {
        left: 0px; 
        background-color: aquamarine;
    }
    to {
        right: 200px; 
        background-color: brown;
    }
}


/* % in ANIMATION */
/* here 0% means - from and 100% means - to, and we can add various middle stages using percent, here for ex:- 50% */
@keyframes percentAnimation {
    0%{
        left: 0px;
        background-color: rgb(231, 192, 36);
    }
    50%{
        background-color: rgb(18, 124, 8);
    }
    100%{
        right: 200px;
        background-color: rgb(67, 15, 15);
        color: white;
    }
}