div {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
}

#box1 {
    background-color: red;
    background-image: url("./Images/Leaf.jpg");
    
    /* background size = auto - by default */
}

#box2 {
    background-color: green;
    background-image: url("./Images/Leaf.jpg");

    /* It will fully cover the area */
    background-size: cover;
}

#box3 {
    background-color: aqua;
    background-image: url("./Images/Leaf.jpg");

    /* if the image is under sized then image repeats itself */
    background-size: contain;
}

#box4 {
    background-color: rgb(245, 42, 76);
    background-image: url("./Images/Leaf.jpg");

    background-size: contain;

    /* if the image is under sized then it will make that space unoccupied */
    background-repeat: no-repeat;
}

