div {
    height: 100px;
    width: 100px;
    background-color: pink;

    /* border shorthand - border: width style color */
    border: 2px solid brown;
    border-radius: 15px;

    /* padding - all direction */
    /* padding: 25px; */

    /* or */
    /* padding-left: 25px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px; */

    /* padding - shorthand - padding: top right bottom left | works in clockwise from top to left */
    padding: 5px 10px 15px 20px;


    /* margin - all direction */
    /* margin: 25px; */

    /* or */
    /* margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px; */

    /* margin - shorthand - margin: top right bottom left | works in clockwise from top to left */
    margin: 5px 10px 15px 20px;
}